# Application asset/config files
/config

# Project/Solution Artifacts
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Build Artifacts
/bin
*.spv

# Package Manager Artifacts
conan.lock
conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
graph_info.json